@model UserAndList
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div>
    @await Html.PartialAsync("_AddUser", Model.User)
</div>
<div>
    @await Html.PartialAsync("_UserList", Model.UserList)
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
